.game {
  
    padding: 1rem;
    margin: 1rem;

    .game-title {
        font-family: "Bungee Spice", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin: 0.8rem;
    }

    
    .game-details {

        .game-li {
            letter-spacing: 1.2px;
            line-height: 1.5;
            span {
                letter-spacing: 1px;
                font-weight: 500;
                padding-right: 0.5rem;
            }
        }
    }

    
}