.home {
    text-align: center;

    .main-page-img {
        max-width: 100%;
        height: auto;
    }

    .container {
        position: relative;
        padding: 0.6rem;
        margin: 3rem;
        width: min(50rem, 90%);
        border: 2px solid white;
        text-align: left;

        .name {
            font-size: 1.7rem;
            text-decoration: underline;
            color: orange;
        }
        
        i {
            font-size: 1.6rem;
            padding: 0.8rem;
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .message {
            font-size: 1.5rem;
            padding: 0.8rem;
            letter-spacing: 1px;
        }
    }

    .btn-container {

        .request-btn {
            background-color: black;
            color: greenyellow;
            border: 2px solid white;
            padding: 0.5rem;
            margin: 0.5rem;
            font-size: 1.3rem;

            &:hover {
                background-color: orange;
                color: black;
            }
        }
    }
}