.form-header {
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.entryForm {
    width: min(18rem);
    height: auto;
    border: 2px solid white;
    padding: 0.6rem;

    display: flex;
    flex-direction: column;

    .exit {
       align-self: flex-end;
       padding: 6px;
       cursor: pointer;
       color: greenyellow;
    }

    .input {
        padding: 0.8rem;
        padding-left: 0;
        margin: 0.5rem;
        border: none;
        border-bottom: 1px solid white;
        outline: none;
        background-color: black;
        color: greenyellow;
        font-size: 1rem;
        cursor: pointer;

        &::placeholder {
            color: greenyellow;
        }
    }

    .form-message {
        text-align: center;
        padding: 0.5rem;
        letter-spacing: 1px;
    }

    .button {
        padding: 0.5rem;
        margin: 0.5rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        color: yellowgreen;
        background-color: black;
        border: 2px solid white;

        &:hover {
            background-color: orange;
            color: black;
        }
    }
}