@import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");

@import "./css/index.css";
@import "./css/entryForm.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(0, 0, 0);
    color: greenyellow;
}

main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}